.container-container{
   
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 90px; */
    width: 100%;
}
.Filtros{
    display: flex;
    margin-left: 80px;
    height: 30px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 4px ;
    
}
.Paginado{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer
}
.TodoHome{
    background-image: url("../components/Img/igor-karimov-9AmKnNZw3GA-unsplash.jpg");
    height: 400vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    background-attachment: fixed;
    
}
.filtroApi{
    color:  black;
    font-weight:bold;
    display: flex;
    background-color: #ff013c;
    border-radius: 10px;
    padding: 4px;

}
.loader span {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    animation: blur 3s linear infinite;
    line-height: 20px;
    transition: all 0.5s;
    letter-spacing: 0.2em;
    /* display: flex; */
    height: 100%;
    width: 100vh;
    justify-content: center;
    /* margin-right: 80px; */
    margin-top: 50px;
   }
   .loader{  
    
    height: 20vh;
    width: 100vh;
    /* justify-content: center; */
    margin-top: 40vh;
    margin-left:15vh;
    }
 
   @keyframes blur {
    0%, 90% {
     filter: blur(0);
    }
   
    50% {
     filter: blur(10px);
    }
   }